html {
    background:#fcf8f3;
}
body {
    margin: 0;
    padding: 0;
}

.header {
    background: #f8d7ac;
    padding: 20px;
    text-align: center;
    color: #464544;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

body {
    background: #50565d;
    color: white;
}

.header p {
    font-size: 25px;
    font-weight: 500;
    margin: 0;
}

.main {
    margin-top: 100px;
}

.main__container {
    max-width: 1200px;
    margin: auto;
}

.films_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.film_item {
    border: #20262b 1px dashed;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

.film_item img {
    border-radius: 20px;
    max-width: 250px
}

.main__container h1 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.konvajs-content {
    background: #20262b;
    margin: auto;
}

.booking_container {
    margin-top: 30px;
}

.booking_container h2 {
    margin-bottom: 20px;
}

.main {
    max-width: 1300px;
    margin: 40px auto;
}

.film {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 30px;
    border: 2px solid wheat;
    border-radius: 30px;
    padding: 30px;
}

h1 {
    text-align: center;
    color: wheat;
}

.film img {
    max-width: 250px;
    border-radius: 30px;
}

.film:nth-child(2n) {
    flex-direction: row-reverse;
}

.films, .foods {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.films {
    max-width: 1300px;
    margin: 20px auto;
}

.fiter_form {
    margin-bottom: 40px;
}

.fiter_form p {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.more_films {
    background: #D3A154;
    padding: 20px;
    border-radius: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.more_films:hover {
     background: #fdbf68;
}

.films__container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 30px;
}

.food {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 2px solid wheat;
    padding: 20px;
    border-radius: 20px;
}

.food img {
    max-width: 250px;
    border-radius: 30px;
}

.price {
    color: wheat;
    font-size: 30px;
    font-weight: 700;
}

